[submodule "Maverick"]
	path = Maverick
	url = https://github.com/AlanDecode/Maverick.git
[submodule "Galileo"]
	path = Galileo
	url = https://github.com/AlanDecode/Maverick-Theme-Galileo.git
	branch = latest
[submodule "Kepler"]
	path = Kepler
	url = https://github.com/AlanDecode/Maverick-Theme-Kepler.git
	branch = latest